<!DOCTYPE html>
<html>
<head>
    <title>Upload Form</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.first_name.label }}<br>
            {{ form.first_name(size=32) }}
        </p>
        <p>
            {{ form.last_name.label }}<br>
            {{ form.last_name(size=32) }}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
        </p>
        <p>
            {{ form.photo.label }}<br>
            {{ form.photo }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>
